@charset "utf-8";

@import "libs/normalize.less";
@import "libs/mixins.less";
@import "libs/fonts.less";
@import "libs/main.less";
@import "libs/plugins.less";
@import "libs/controls.less";
@import "libs/sprite.less";

@import "libs/bootstrap/variables.less";
@import "libs/bootstrap/mixins.less";
@import "libs/bootstrap/component-animations.less";
@import "libs/bootstrap/grid.less";
@import "libs/bootstrap/modals.less";

@import "libs/font-awesome.min.less";
// @import "libs/animate.less";

//@import "libs/bootstrap/bootstrap.less";


// =============================================
// Layout
// =============================================

.wrap {
    position: relative;
    margin:auto;
    width: 950px;
    padding-left:  15px;
    padding-right: 15px;
}







// =============================================
// Header
// =============================================

.header {

}

// =============================================
// Footer
// =============================================

.footer {

}

// =============================================
// Content
// =============================================

.content {

}


// =============================================
// Main Page
// =============================================

.main {

}
