@charset "utf-8";
@import "libs/normalize.less";
@import "libs/mixins.less";
@import "libs/fonts.less";
@import "libs/main.less";
@import "libs/plugins.less";
@import "libs/controls.less";
@import "libs/sprite.less";
// @import "libs/bootstrap/bootstrap.less";
// @import "libs/font-awesome/font-awesome.min.less";
// @import "libs/animate.less";


// =============================================
// Layout
// =============================================

.wrap {
    position: relative;
    margin:auto;
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}

// =============================================
// Header
// =============================================

.header {

}

// =============================================
// Footer
// =============================================

.footer {

}

// =============================================
// Content
// =============================================

.content {

}


// =============================================
// Main Page
// =============================================

.main {

}

.bb {
    display: inline-block;
    padding: 30px;
    color: #fff;
    background-color: #FCB1B4;
    font-size: 166px;
}

