{% extends "layouts/layout.twig" %}
{% block content %}

<style>
    .container {
        background-color: #CACACA;
     }
    .container-fluid {
        background-color: #F0F0F0;
    }
    .boot-col {
        background-color: #F3F3F3;
        min-height: 100px;
        outline:1px solid #ccc;
        padding: 20px;
        display: block;
    }
</style>

<div class="container-fluid">
    <div class="container">
        <div class="row">
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
              <div class="boot-col col-md-1">.col-md-1</div>
        </div>
        <div class="row">
              <div class="boot-col col-sm-6">.col-md-6</div>
              <div class="boot-col col-sm-6">.col-md-6</div>
        </div>
        <div class="row">
              <div class="boot-col col-md-4">.col-md-4</div>
              <div class="boot-col col-md-4">.col-md-4</div>
              <div class="boot-col col-md-4">.col-md-4</div>
        </div>
    </div>
</div>


{% endblock %}
