{% extends "layouts/layout.twig" %}
{% block content %}
  <style>
  ._controls {
    position: relative;
    margin:auto;
    width: 800px;
    padding: 20px;
    margin-bottom: 500px;
  }
  ._controls .row {
    margin-bottom: 1em;
  }
  </style>
  <div class="_controls wrap">
    <div class="row">
      <span class="c-input-outer">
      <input type="text" class="c-input" placeholder="Введите текст">
      </span>
    </div>
    <div class="row">
      <input type="text" class="c-input" placeholder="Введите текст">
    </div>
    <div class="row">
      <input type="text" class="c-input c-input-fill datepicker" placeholder="Введите текст">
    </div>
    <div class="row">
      <span class="c-input-outer">
      <input type="text" class="c-input c-input-phone" placeholder="Введите текст">
      </span>
    </div>
    <div class="row">
      <span class="c-input-outer c-input-outer-fill">
      <input type="text" class="c-input" placeholder="Введите текст">
      </span>
    </div>
    <div class="row">
      <span class="c-input-outer c-input-error">
      <input type="text" class="c-input" placeholder="Введите текст">
      </span>
      <input type="text" class="c-input c-input-error" placeholder="Введите текст">
    </div>
    <div class="row">
      <span class="c-input-outer c-input-outer-fill ">
      <textarea class="c-input"></textarea>
      </span>
    </div>
    <div class="row">
      <input type="submit" class="c-btn" value="Отправить">
      <a href="#" class="c-btn">Добавить</a>
      <button type="submit" class="c-btn">
      Добавить
      </button>
    </div>
    <div class="row">
      <button type="submit" class="c-btn btn-middle">
      Сохранить и продолжить ввод данных
      </button>
    </div>
    <div class="row">
      <input type="submit" class="c-btn c-btn-simple" value="Отправить">
    </div>
    <div class="row">
      <label class="c-label">
        <input type="checkbox" />
        <span class="c-label-ico">
        <span class="ico ico-checkbox"></span>
        </span>
        Согласен
      </label>
    </div>
    <div class="row">
      <label class="c-label c-label-radio">
        <input type="radio" />
        <span class="c-label-ico">
        <span class="ico ico-radio"></span>
        </span>
        Согласен
      </label>
    </div>
    <div class="row">
      <div class="dropdown dropdown-on">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность </span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Утро</span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="0">
      </div>
    </div>
    <div class="row">
      <div class="dropdown dropdown-on dropdown-fill">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность</span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Утро</span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="0">
      </div>
    </div>
    <div class="row">
      <div class="dropdown dropdown-on">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность Периодичность Периодичность Периодичность</span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Периодичность Периодичность Периодичность Периодичность Периодичность </span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="0">
      </div>
    </div>
    <div class="row">
      <div class="dropdown dropdown-on dropdown-multi">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность </span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="morning">
            <label class="c-label">
              <input type="checkbox">
              <span class="c-label-ico">
              <span class="ico ico-checkbox"></span>
              </span>
              Утро
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="daytime">
            <label class="c-label">
              <input type="checkbox">
              <span class="c-label-ico">
              <span class="ico ico-checkbox"></span>
              </span>
              День
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="evening">
            <label class="c-label">
              <input type="checkbox">
              <span class="c-label-ico">
              <span class="ico ico-checkbox"></span>
              </span>
              Вечер
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="night">
            <label class="c-label">
              <input type="checkbox">
              <span class="c-label-ico">
              <span class="ico ico-checkbox"></span>
              </span>
              Ночь
            </label>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="">
      </div>
    </div>
    <div class="row">
      <div class="dropdown dropdown-on dropdown-lang">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Язык</span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <a href="/_controls.html" class="dropdown-menu-title">Русский</a>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <a href="/_controls.html" class="dropdown-menu-title">Английский</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <a href="#fancy-in" class="fancybox">Fancy Button</a>
      <div id="fancy-in" style="display: none; width: 400px; padding:20px">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id reprehenderit quae eius libero cupiditate. Placeat beatae, veniam minus facilis excepturi, impedit eligendi nostrum error at qui fugit est, iusto cum!
      </div>
    </div>
    <div class="row">
      <div class="c-slider-outer">
        <ul class="c-slider c-slider-on c-slider-test">
          <li class="c-slider-item c-slider-item-1">
          </li>
          <li class="c-slider-item c-slider-item-2">
          </li>
          <li class="c-slider-item c-slider-item-3">
          </li>
          <li class="c-slider-item c-slider-item-4">
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="c-slider-outer">
        <ul class="c-slider c-slider-fade-on c-slider-test">
          <li class="c-slider-item c-slider-item-1">
          </li>
          <li class="c-slider-item c-slider-item-2">
          </li>
          <li class="c-slider-item c-slider-item-3">
          </li>
          <li class="c-slider-item c-slider-item-4">
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="c-tabs c-tabs-on">
        <ul class="c-tabs-controls">
          <li><a href="#tab-1">Tab 1</a></li>
          <li><a href="#tab-2">Tab 2</a></li>
          <li><a href="#tab-3">Tab 3</a></li>
        </ul>
        <div id="tab-1" class="c-tabs-content">
          <strong>Content 1</strong>
        </div>
        <div id="tab-2" class="c-tabs-content">
          <strong>Content 2</strong>
        </div>
        <div id="tab-3" class="c-tabs-content">
          <strong>Content 3</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="toggle-box">
        <div>
          <a href="#" class="toggle-button" data-toggle-title-open="Развернуть" data-toggle-title-close="Свернуть">
            <span class="toggle-button-title">Развернуть</span>
          </a>
          {#                 <a href="#" class="toggle-button-open"><span class="toggle-button-title">Развернуть</span></a>
          <a href="#" class="toggle-button-close"><span class="toggle-button-title">Свернуть</span></a> #}
        </div>
        <div class="toggle-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolore velit totam iste cum numquam eum illum quis rem recusandae doloribus officia aliquam quia nam, voluptate commodi. Exercitationem, dolorem, reiciendis.
        </div>
      </div>
    </div>
    <div class="row">
      <div id="map_canvas" class="c-map">
        {# Map Init #}
      </div>
      <br>
      <a href="#" id="map-btn-1">Go to 1</a>
      <a href="#" id="map-btn-2">Add Markers 1</a>
      <a href="#" id="map-btn-3">Add Markers 2</a>
      <a href="#" id="map-btn-4">Remove and Add Markers 1</a>
      <a href="#" id="map-btn-5">Remove Markers</a>
    </div>
    <div class="row">
      <br><br>
      <div class="c-range-outer-full">
        <input type="text" class="c-range" value="" />
      </div>
      <br><br>
      <div class="c-range-outer-full">
        <input type="text" class="c-range-double" value="" />
      </div>
      <br><br>
      <div class="c-range-outer-full">
        <input type="text" class="c-range-double" value="" />
      </div>
      <br><br><br>
      <div class="c-range-outer-simple">
        <input type="text" class="c-range" value="" />
      </div>
      <br><br><br>
      <div class="c-range-outer-simple">
        <input type="text" class="c-range-double" value="" />
        <br>
        <input type="text" class="c-input c-range-output c-range-output-min" >
        <input type="text" class="c-input c-range-output c-range-output-max" >
      </div>
    </div>
    <div class="row">
      <br>
      <ul class="c-pager">
        <li><a href="#"> < </a></li>
        <li><a href="#"> 1 </a></li>
        <li><a href="#"> 2 </a></li>
        <li><a href="#"> 3 </a></li>
        <li><a href="#"> > </a></li>
      </ul>
    </div>
    <br><br><br><br>
    <div class="row">

      <button type="button" class="c-btn" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

              Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            </div>
            <div class="modal-footer">
              <button type="button" class="c-btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="c-btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <br><br><br><br>
    <div class="row">
      <form style="width: 500px;">
        <h3 class="form-hd">
        Форма обратной связи
        </h3>
        <div class="form-row">
          <label for="" class="form-label">
            Имя
          </label>
          <span class="c-input-outer c-input-outer-fill">
          <input type="text" class="c-input" name="" placeholder="Введите текст">
          </span>
        </div>
        <div class="form-row">
          <label for="" class="form-label">
            Фамилия
          </label>
          <span class="c-input-outer c-input-outer-fill">
          <input type="text" class="c-input" name="" placeholder="Введите текст">
          </span>
          <div class="form-tip">
            Предполагаемый текст подсказки
          </div>
        </div>
        <div class="form-row">
          <label for="" class="form-label">
            Отчество
          </label>
          <span class="c-input-outer c-input-outer-fill c-input-error">
          <input type="text" class="c-input" name="" placeholder="Введите текст">
          </span>
          <div class="form-tip form-tip-error">
            Предполагаемый текст ошибки
          </div>
        </div>
        <div class="form-row">
          <label for="" class="form-label">
            Телефон
          </label>
          <span class="c-input-outer c-input-outer-fill">
          <input type="text" class="c-input c-input-phone" name="" placeholder="Введите текст">
          </span>
        </div>
        <div class="form-row">
          <ul class="c-colgroup">
            <li class="c-col c-col-1">
              <label for="" class="form-label">
                E-mail
              </label>
              <span class="c-input-outer c-input-outer-fill">
              <input type="text" class="c-input" name="" placeholder="Введите текст">
              </span>
            </li>
            <li class="c-col c-col-2">
              <label for="" class="form-label">
                E-mail
              </label>
              <span class="c-input-outer c-input-outer-fill">
              <input type="text" class="c-input" name="" placeholder="Введите текст">
              </span>
            </li>
          </ul>
        </div>
        <div class="form-row">
          <ul class="c-colgroup">
            <li class="c-col_3 c-col_3-1">
              <label for="" class="form-label">
                E-mail
              </label>
              <span class="c-input-outer c-input-outer-fill">
              <input type="text" class="c-input" name="" placeholder="Введите текст">
              </span>
            </li>
            <li class="c-col_3 c-col_3-2">
              <label for="" class="form-label">
                E-mail
              </label>
              <span class="c-input-outer c-input-outer-fill">
              <input type="text" class="c-input" name="" placeholder="Введите текст">
              </span>
            </li>
            <li class="c-col_3 c-col_3-3">
              <label for="" class="form-label">
                E-mail
              </label>
              <span class="c-input-outer c-input-outer-fill">
              <input type="text" class="c-input" name="" placeholder="Введите текст">
              </span>
            </li>
          </ul>
        </div>
        <div class="form-row">
          <label for="" class="form-label">
            О себе
          </label>
          <span class="c-input-outer c-input-outer-fill">
          <textarea class="c-input c-input-fill"></textarea>
          </span>
        </div>
        <div class="form-row">
          <label for="" class="form-label-inline">
            Пароль
          </label>
          <span class="c-input-outer">
          <input type="password" class="c-input" name="" placeholder="Введите текст">
          </span>
        </div>
        <div class="form-row">
          <label class="c-label">
            <div class="c-label-pic">
              <input type="checkbox" />
              <span class="c-label-ico">
              <span class="ico ico-checkbox"></span>
              </span>
            </div>
            <div class="c-label-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quasi ipsa ea, et alias architecto, iste, ipsum velit esse soluta rem. Recusandae beatae quaerat, praesentium dolorum incidunt suscipit tenetur eius.</div>
          </label>
        </div>
        <div class="form-row">
          <div class="c-inline">
            <label class="c-label c-label-radio">
              <div class="c-label-pic">
                <input type="radio" name="sex" />
                <span class="c-label-ico">
                <span class="ico ico-radio"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Мужской
              </div>
            </label>
          </div>
          <div class="c-inline">
            <label class="c-label c-label-radio">
              <div class="c-label-pic">
                <input type="radio" name="sex" />
                <span class="c-label-ico">
                <span class="ico ico-radio"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Женский
              </div>
            </label>
          </div>
          <div class="c-inline">
            <label class="c-label c-label-radio">
              <div class="c-label-pic">
                <input type="radio" name="sex" />
                <span class="c-label-ico">
                <span class="ico ico-radio"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Любой
              </div>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="dropdown dropdown-on ">
            <div class="dropdown-button">
              <span class="dropdown-button-title">Периодичность</span>
              <i class="ico ico-arr-down dropdown-arr"></i>
            </div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-item" data-value="1">
                <span class="dropdown-menu-title">Утро</span>
              </li>
              <li class="dropdown-menu-item" data-value="2">
                <span class="dropdown-menu-title">День</span>
              </li>
              <li class="dropdown-menu-item" data-value="3">
                <span class="dropdown-menu-title">Вечер</span>
              </li>
              <li class="dropdown-menu-item" data-value="4">
                <span class="dropdown-menu-title">Ночь</span>
              </li>
            </ul>
            <input class="dropdown-hidden" type="hidden" value="0">
          </div>
        </div>
        <div class="form-row">
          <div class="dropdown dropdown-on dropdown-fill">
            <div class="dropdown-button">
              <span class="dropdown-button-title">ПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичность</span>
              <i class="ico ico-arr-down dropdown-arr"></i>
            </div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-item" data-value="1">
                <span class="dropdown-menu-title">Утро</span>
              </li>
              <li class="dropdown-menu-item" data-value="2">
                <span class="dropdown-menu-title">День</span>
              </li>
              <li class="dropdown-menu-item" data-value="3">
                <span class="dropdown-menu-title">Вечер</span>
              </li>
              <li class="dropdown-menu-item" data-value="4">
                <span class="dropdown-menu-title">Ночь</span>
              </li>
              <li class="dropdown-menu-item" data-value="1">
                <span class="dropdown-menu-title">Утро</span>
              </li>
              <li class="dropdown-menu-item" data-value="2">
                <span class="dropdown-menu-title">День</span>
              </li>
              <li class="dropdown-menu-item" data-value="3">
                <span class="dropdown-menu-title">Вечер</span>
              </li>
              <li class="dropdown-menu-item" data-value="4">
                <span class="dropdown-menu-title">Ночь</span>
              </li>
            </ul>
            <input class="dropdown-hidden" type="hidden" value="0">
          </div>
        </div>
        <div class="form-row">
          <div class="dropdown dropdown-on dropdown-multi">
            <div class="dropdown-button">
              <span class="dropdown-button-title">Периодичность </span>
              <i class="ico ico-arr-down dropdown-arr"></i>
            </div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-item" data-value="morning">
                <label class="c-label">
                  <div class="c-label-pic">
                    <input type="checkbox" />
                    <span class="c-label-ico">
                    <span class="ico ico-checkbox"></span>
                    </span>
                  </div>
                  <div class="c-label-desc">
                    Утро
                  </div>
                </label>
              </li>
              <li class="dropdown-menu-item" data-value="daytime">
                <label class="c-label">
                  <div class="c-label-pic">
                    <input type="checkbox" />
                    <span class="c-label-ico">
                    <span class="ico ico-checkbox"></span>
                    </span>
                  </div>
                  <div class="c-label-desc">
                    День
                  </div>
                </label>
              </li>
              <li class="dropdown-menu-item" data-value="evening">
                <label class="c-label">
                  <div class="c-label-pic">
                    <input type="checkbox" />
                    <span class="c-label-ico">
                    <span class="ico ico-checkbox"></span>
                    </span>
                  </div>
                  <div class="c-label-desc">
                    Вечер
                  </div>
                </label>
              </li>
              <li class="dropdown-menu-item" data-value="night">
                <label class="c-label">
                  <div class="c-label-pic">
                    <input type="checkbox" />
                    <span class="c-label-ico">
                    <span class="ico ico-checkbox"></span>
                    </span>
                  </div>
                  <div class="c-label-desc">
                    Ночь
                  </div>
                </label>
              </li>
            </ul>
            <input class="dropdown-hidden" type="hidden" value="">
          </div>
        </div>
        <div class="form-row">
          <div class="dropdown dropdown-on dropdown-lang">
            <div class="dropdown-button">
              <span class="dropdown-button-title">Язык</span>
              <i class="ico ico-arr-down dropdown-arr"></i>
            </div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu-item" data-value="1">
                <a href="/_controls.html" class="dropdown-menu-title">Русский</a>
              </li>
              <li class="dropdown-menu-item" data-value="2">
                <a href="/_controls.html" class="dropdown-menu-title">Английский</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-row">
          <a href="" class="c-btn">
            Загрузить файл
          </a>
        </div>
        <div class="form-row-last">
          <input type="submit" class="c-btn" value="Отправить">
        </div>
      </form>
    </div>
  </div>
{% endblock %}