{% extends "layouts/layout.twig" %}
{% block content %}

  <div style="width:600px; margin:auto; padding-top: 20px; padding-bottom: 50px;">


    {# ######### Текстовые поля ######### #}

    <h3 class="form-hd">
      Текстовые поля
    </h3>

    <div class="form-line">
      <label for="" class="form-label">
        Имя
      </label>
      <div class="form-input fill">
        <input id="" type="text" name="" class="input-control" placeholder="Введите текст">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        Фамилия
      </label>
      <div class="form-input fill error">
        <input type="text" name="" class="input-control" placeholder="Введите текст">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        Отчество
      </label>
      <div class="form-input fill error">
        <input type="text" name="" class="input-control" placeholder="Введите текст">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
        <span class="form-tip">
          Подсказка
        </span>
      </div>
    </div>


    <div class="form-line">
      <label for="" class="form-label">
        Почта
      </label>
      <div class="form-input ">
        <input id="" type="email" name="" class="input-control" placeholder="name@mail.ru">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>


    <div class="form-line">
      <label for="" class="form-label">
        Телефон
      </label>
      <div class="form-input">
        <input id="" type="text" class="input-phone input-control" name="" placeholder="Введите текст">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        Пароль
      </label>
      <div class="form-input">
        <input id="" type="password" name="" class="input-control" placeholder="Введите пароль">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        Поиск
      </label>
      <div class="form-search form-input">
        <input type="search" name="" class="input-control" placeholder="Найти">
        <button>
          <i class="icon icon-search"></i>
        </button>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        Дата
      </label>
      <div class="form-input">
        <input id="" type="text" class="input-control datepicker" name="" placeholder="Введите текст">
        <span class="form-tip form-error">
          Введите текст сообщения
        </span>
      </div>
    </div>

    <div class="form-line">
      <label for="" class="form-label">
        О себе
      </label>
      <div class="form-input fill">
        <textarea class=""></textarea>
      </div>
    </div>



    <div class="form-line colpd">
      <div class="col col50">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col50">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
    </div>

    <div class="form-line colpd">
      <div class="col col33">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col33">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col33">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
    </div>

    <div class="form-line colpd">
      <div class="col col25">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col25">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col25">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
      <div class="col col25">
        <div class="form-input fill">
          <input type="text" name="" class="input-control" placeholder="Введите текст">
          <span class="form-tip form-error">
            Введите текст сообщения
          </span>
        </div>
      </div>
    </div>



    <br><br>


    {# ######### Кнопки ######### #}

    <h3 class="form-hd">
      Кнопки
    </h3>

    <div class="form-line">
      <input type="submit" class="form-btn" value="Отправить">
      <a href="#" class="form-btn">Отправить</a>
      <button type="submit" class="form-btn">
        Отправить
      </button>
    </div>

    <div class="form-line">
      <button type="submit" class="form-btn btn-pic">
        <i class="icon icon-arr-sm-right"></i> Отправить
      </button>
    </div>

    <div class="form-line">
      <button type="submit" class="form-btn middle">
        Сохранить и продолжить ввод данных
      </button>
    </div>

    <div class="form-line">
      <button type="submit" class="form-btn large">
        Сохранить и продолжить ввод данных
      </button>
    </div>

    <div class="form-line">
      <button type="submit" class="form-btn fill">
        Сохранить и продолжить ввод данных
      </button>
    </div>

    <br><br>


    {# ######### Элементы выбора ######### #}

    <h3 class="form-hd">
      Элементы выбора
    </h3>


    <div class="form-line">
      <label class="checkbox">
        <input type="checkbox">
        <span class="checkbox-control"></span>
        <span class="checkbox-title">
          Lorem ipsum
        </span>
      </label>
    </div>

    <div class="form-line">

      <div class="inline">
        <label class="checkbox">
          <input type="checkbox">
          <span class="checkbox-control"></span>
          <span class="checkbox-title">
            Lorem ipsum
          </span>
        </label>
      </div>

      <div class="inline">
        <label class="checkbox">
          <input type="checkbox">
          <span class="checkbox-control"></span>
          <span class="checkbox-title">
            Lorem ipsum
          </span>
        </label>
      </div>

    </div>


    <div class="form-line">

      <label class="checkbox checkbox-media">
        <input type="checkbox">
        <span class="checkbox-control"></span>
        <span class="checkbox-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quasi ipsa ea, et alias architecto,  iste, ipsum velit esse soluta rem. Recusandae beatae quaerat, praesentium dolorum incidunt suscipit  tenetur eius. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quasi ipsa ea, et alias architecto,  iste, ipsum velit esse soluta rem. Recusandae beatae quaerat, praesentium dolorum incidunt suscipit  tenetur eius.
        </span>
      </label>

    </div>

    <div class="form-line">

      <div class="inline">
        <label class="checkbox radio">
          <input type="radio" name="sex">
          <span class="checkbox-control"></span>
          <span class="checkbox-title">
            Male
          </span>
        </label>
      </div>

      <div class="inline">
        <label class="checkbox radio">
          <input type="radio" name="sex">
          <span class="checkbox-control"></span>
          <span class="checkbox-title">
            Female
          </span>
        </label>
      </div>

    </div>




    <br><br>


    {# ######### Выпадающие списки ######### #}

    <h3 class="form-hd">
      Выпадающие списки
    </h3>

    <div class="form-line">
      <div class="dropdown dropdown-on ">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность</span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Утро</span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="0">
      </div>
    </div>
    <div class="form-line">
      <div class="dropdown dropdown-on dropdown-fill">
        <div class="dropdown-button">
          <span class="dropdown-button-title">ПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичностьПериодичность</span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Утро</span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
          <li class="dropdown-menu-item" data-value="1">
            <span class="dropdown-menu-title">Утро</span>
          </li>
          <li class="dropdown-menu-item" data-value="2">
            <span class="dropdown-menu-title">День</span>
          </li>
          <li class="dropdown-menu-item" data-value="3">
            <span class="dropdown-menu-title">Вечер</span>
          </li>
          <li class="dropdown-menu-item" data-value="4">
            <span class="dropdown-menu-title">Ночь</span>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="0">
      </div>
    </div>
    <div class="form-line">
      <div class="dropdown dropdown-on dropdown-multi">
        <div class="dropdown-button">
          <span class="dropdown-button-title">Периодичность </span>
          <i class="ico ico-arr-down dropdown-arr"></i>
        </div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item" data-value="morning">
            <label class="c-label">
              <div class="c-label-pic">
                <input type="checkbox" />
                <span class="c-label-ico">
                <span class="ico ico-checkbox"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Утро
              </div>
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="daytime">
            <label class="c-label">
              <div class="c-label-pic">
                <input type="checkbox" />
                <span class="c-label-ico">
                <span class="ico ico-checkbox"></span>
                </span>
              </div>
              <div class="c-label-desc">
                День
              </div>
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="evening">
            <label class="c-label">
              <div class="c-label-pic">
                <input type="checkbox" />
                <span class="c-label-ico">
                <span class="ico ico-checkbox"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Вечер
              </div>
            </label>
          </li>
          <li class="dropdown-menu-item" data-value="night">
            <label class="c-label">
              <div class="c-label-pic">
                <input type="checkbox" />
                <span class="c-label-ico">
                <span class="ico ico-checkbox"></span>
                </span>
              </div>
              <div class="c-label-desc">
                Ночь
              </div>
            </label>
          </li>
        </ul>
        <input class="dropdown-hidden" type="hidden" value="">
      </div>
    </div>

    <br><br>

    {# ######### Загрузка файла ######### #}

    <h3 class="form-hd">
      Загрузка файла
    </h3>

    <div class="filebox" role="test">
      <a href="#" class="filebox-btn form-btn">
        Загрузить файл
      </a>
      <div class="filebox-output">
        <div class="filebox-pic">
          {# Pic #}
        </div>
        <div class="filebox-title">
          {# Title #}
        </div>
        <a href="" class="filebox-close">
          <i class="icon icon-close-sm"></i>
        </a>
      </div>
      <input type="file">
    </div>




  </div>



{% endblock %}