{% extends "layouts/layout.twig" %}
{% block content %}

  {# hello #}

<style>

    body {
        padding: 20px;
        padding-top: 15px;
        width: 700px;
    }

    section {
        margin-bottom: 20px;
    }

</style>

<section>
    <h1>
        Портфолио работ
    </h1>
    <h2>
        Портфолио работ
    </h2>
    <h3>
        Портфолио работ
    </h3>
    <h4>
        Портфолио работ
    </h4>
    <h5>
        Портфолио работ
    </h5>
    <h6>
        Портфолио работ
    </h6>
</section>
<section>
    <article>
        <p class="m-lead">
            <strong>Сайт с оригинальным оформлением</strong>, <em>адаптирующимся под новинки кино, с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, любопытными новостями из мира кино и отдельной страницей для VIP-услуг.</em>
        </p>
        <p class="m-lead">
            Сайт с оригинальным оформлением, адаптирующимся под новинки кино, с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, любопытными новостями из мира кино и отдельной страницей для VIP-услуг.
        </p>
        <p>
            <a href="/_type.html">Пользовательское сообщество</a> для больных вирусных гепатитом С, цель которого – содействие
            и поддержка людей, столкнувшихся с этой болезнью. Полезные материалы, форум, возможность задать вопросы специалистам, увлекательные статьи и полезные рекомендации. Сайт с оригинальным оформлением, адаптирующимся под новинки кино, с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, любопытными новостями из мира кино и отдельной страницей для VIP-услуг.
        </p>
        <p>
            <span class="m-large">Полезные материалы</span>, <span class="m-small">форум, возможность  задать вопросы специалистам, увлекательные статьи и полезные рекомендации. Сайт с оригинальным оформлением</span>, адаптирующимся под новинки кино, с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, любопытными новостями из мира кино и отдельной страницей для VIP-услуг. Сайт с оригинальным оформлением, <strong>адаптирующимся под новинки кино</strong>, <em>с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, <strong>любопытными новостями</strong> из мира кино и отдельной страницей для VIP-услуг</em>. Пользовательское сообщество для больных вирусных гепатитом С, цель которого – содействие
            и поддержка людей, столкнувшихся с этой болезнью. Полезные материалы, форум, возможность задать вопросы специалистам, увлекательные статьи и полезные рекомендации. Сайт с оригинальным оформлением, адаптирующимся под новинки кино, с удобным функционалом, сервисом бронирования билетов, анонсами, трейлерами фильмов, любопытными новостями из мира кино и отдельной страницей для VIP-услуг.
        </p>
    </article>
</section>



{% endblock %}
